.pokemon-grid {
  color: white;
  position: relative;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  place-items: center;
  grid-gap: 0.7em;
  top: 13em;
  position: relative;
  transition: transform 0.3s ease;
}
.pokemon {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 250px;
  background: #6d6d6d;
  border-radius: 5px;
  > h2 {
    margin-top: -0.6em;
    padding: 0.2em 0;
  }
  &:hover {
    transform: scale(1.02);
    transition: ease-out 0.06s;
  }
}
.sprite {
  display: block;
  margin: auto;
  width: 250px;
  overflow: hidden;
}
.pokemon-types {
  margin: 0.9em;
  position: relative;
  > span {
    font-family: 'Fredoka One';
    font-weight: 300;
    letter-spacing: 0.5px;
    color: white;
    background: gray;
    margin: 0.1em 0.2em;
    padding: 0.2em 0.25em;
    border: 2px solid white;
    border-radius: 0.7em;
    font-size: 1.4em;
  }
}
