.logo {
  padding: 10px;
  max-width: 50%;
}
.fixed-header {
  position: fixed;
  z-index: 3;
  top: 0;
  background-color: #9e9e9e;
  max-width: 100%;
}
.input {
  width: 300px;
  height: 35px;
  border-radius: 20px;
  outline: none;
  padding: 0px 13px;
  border: solid #9e9e9e 2px;
  &::placeholder {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    position: relative;
    background-image: url('./../assets/magnifier.svg');
    background-repeat: no-repeat;
    background-position: 3px 50%;
    line-height: normal;
    background-size: 13px;
    letter-spacing: 1px;
    padding: 0 25px;
  }
}
