// @media only screen and (max-width: 900px) {
//   .pokemon-grid {
//     top: calc(13vh + 6em + 30px);
//   }
// }
// @media only screen and (max-width: 610px) {
//   .pokemon-grid {
//     top: calc(13vh + 5em + 50px);
//   }
// }

// @media only screen and (max-width: 930px) {
//   .type-buttons__wrapper {
//     top: 72%;
//   }
// }
// @media only screen and (max-width: 770px) {
//   .type-buttons__wrapper {
//     top: 69%;
//   }
// }
// @media only screen and (max-width: 610px) {
//   .type-buttons__wrapper {
//     top: 60%;
//   }
//   .type-buttons {
//     grid-template-columns: repeat(4, 1fr);
//     > span {
//       padding-top: 2px;
//       padding-bottom: 2px;
//       margin-top: 2px;
//       margin-bottom: 2px;
//       padding: 0.2em;
//     }
//   }
// }
// @media only screen and (max-width: 530px) {
//   .sprite {
//     width: 130px;
//   }
//   .pokemon {
//     width: 130px;
//   }
//   .pokemon-grid {
//     grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
//     // top: calc(13vh + 1em + 30px);
//   }
// }
@media only screen and (max-width: 890px) {
  .logo {
    max-height: 14vh;
  }
  .pokemon-grid {
    top: 11em;
  }
  .type-buttons__wrapper {
    top: 6em;
  }
}
@media only screen and (max-width: 660px) {
  .logo {
    max-height: 12vh;
  }
  .pokemon-grid {
    top: 9em;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  }
  .pokemon {
  }
  .type-buttons {
    grid-template-columns: repeat(4, 1fr);
  }
  .type-buttons__wrapper {
    top: 0.5em;
  }
}
@media only screen and (max-width: 480px) {
  .logo {
    max-height: 10vh;
  }
}
