.info-block {
  position: fixed;
  top: 15%;
  left: 20%;
  z-index: 3;
  color: white;
  height: 80vh;
  width: 60vw;
  background: #616161;
  border-radius: 10px;
  font-family: 'Fira Sans', sans-serif;
}

.close-block {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 40px;
}
.close-block:hover {
  background: #515151;
}
.close-block:active {
  transform: rotate(45deg);
  transition: ease 0.09s;
}
.close-block__button {
  font-weight: bold;
  font-size: 20px;
  padding: 4px 7px;
}
.pokemon-name {
  margin: 35px;
}
.info-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.pokemon-height-weight {
  padding: 0 20px;
}
.stats-block {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
}
.stat-bar {
  position: relative;
  height: 25px;
  margin: 3px 0;
  background: #bdc3c7;
  width: 300px;
  border-radius: 16px;
}

.stat-bar > span {
  display: block;
  height: 100%;
  background-color: rgb(230, 126, 34);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  border-radius: inherit;
}

.sprite-info {
  position: relative;
  right: 6%;
  height: 400px;
  margin-top: -14%;
  /* margin-left: -30%; */
  position: relative;
  bottom: 10px;
}
.pokemon-description {
  font-size: 35px;
  padding: 10px 30px;
}
.stat-name {
  margin-bottom: 20px;
}
@media (orientation: portrait) {
  .info-block {
    color: black;
    height: 45vh;
    width: 96vw;
    left: 2%;
    top: 30%;
  }
}
