.info-block {
  position: fixed;
  top: 15%;
  left: 20%;
  z-index: 3;
  color: white;
  height: 80vh;
  width: 60vw;
  background: #5a5a5a;
  border-radius: 10px;
}
@media (orientation: portrait) {
  .info-block {
    color: black;
    height: 45vh;
    width: 96vw;
    left: 2%;
    top: 30%;
  }
}
.close-block {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 40px;
}
.close-block:hover {
  background: #404040;
}
.close-block__button {
  font-weight: bold;
  font-size: 20px;
  padding: 4px 7px;
}
.pokemon-name {
  margin: 20px;
}
.stats-block {
  position: relative;
  text-align: center;
  width: 60%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.stat-bar {
  position: relative;
  height: 16px;
  margin: 3px 0;
  background: #bdc3c7;
  width: 200px;
  border-radius: 10px;
}

.stat-bar > span {
  display: block;
  height: 100%;
  background-color: rgb(230, 126, 34);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  border-radius: inherit;
}
.info-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  place-content: space-around;
}

.sprite-info {
  height: 400px;
  margin-top: -20%;
  /* margin-left: -30%; */
  position: relative;
  bottom: 10px;
}
