@font-face {
  font-family: "pokemon-red";
  src: url(https://cdn.rawgit.com/shelune/pokedex-entry/master/pkm-red-font.ttf)
    format("truetype");
}
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
.App {
  text-align: center;
  background: #9e9e9e;
}
* {
  margin: inherit;
  box-sizing: inherit;
}
.logo {
  padding: 10px;
  max-width: 50%;
}
.fixed-header {
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #9e9e9e;
  max-width: 100%;
}
.input{
  width: 200px;
  height: 30px;
}
.input-label {
  font-size: 3vmin;
  font-family: "Courier New", Courier, monospace;
}
.pokemon {
  position: relative;
  /* height: 250px;  nie ustawienie wysokosci powoduje, ze wszystko sie miesci w bloku*/
  width: 300px;
  background: #6d6d6d;
  margin: 2.5%;
  padding-bottom: 3%;
  border-radius: 5px;
}
.pokemon:hover{
  transform: scale(1.025);
}
.sprite {
  margin-bottom: -30px;
  height: 200px;
  position: relative;
  bottom: 10px;
}
h2 {
  position: relative;
  /* bottom: 3.8vmin; */ 
  font-family: "pokemon-red";
  font-size: 30px;
  margin: 0;
  padding: 20px;
}
h3 {
  border-radius: 20px;
}
.pokemon-type{
  position: relative;
  /* bottom: 3.4vmin; */
}
.type-span{
  border-radius: 10px;
  padding: 2px 6px;
  font-family: 'Fredoka One', cursive;
  border: #dddddd 2px solid;
  /* font-weight: bold; */
  font-size: 20px;
}
.search-results {
  display: block;
  position: relative;
  margin-top: 13vmin;
  background-color: #9e9e9e;
  color: white;
  max-width: 100%;
  text-align: center;
  padding-top: 20px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  place-items: center;
}
.info-block{
  position: absolute;
  height: 300px;
  width: 400px;
  background: green;
  border-radius: 10px;
  right: 300px;
  display: none;
}
.close-block{
  position: absolute;
  right: 0;
}
.close-block__button{
  background: rgba(0,0,0,0);
  border: rgba(0,0,0,0);
  font-weight: bold;
}

.stat-bar{
  position: relative;
  height: 20px;
  margin: 20px 0 20px 0;
  background: #bdc3c7;
  width: 20%;
  transform: rotate(270deg);
}
.stat-bar > span {
  display: block;
  height: 100%;
  background-color: rgb(230, 126, 34);
  box-shadow:
  inset 0 2px 9px rgba(255,255,255,0.3),
  inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}